<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Show Celebrities</h2>
  <p><%= celebrity.name %></p>
  <p><%= celebrity.occupation %></p>  
  <p><%= celebrity.catchPhrase %></p>  
</body>
</html>